.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vh);
  text-transform: capitalize;
  padding: 10px 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
